@inherits ViewPage<List<Ignition.Contracts.AuditResponse>>

@{
    Layout = "_Layout";
    ViewBag.Title = "Audit";
}

<div class="text-left" id="audit">
    <table>
            <tr>
            <td><button class="btn btn-small" onclick="nav(13)"><i class="icon-step-backward"></i></button></td>
            <td><button class="btn btn-small"><i class="icon-backward"></i></button></td>
            <td><button class="btn btn-small"><i class="icon-forward"></i></button></td>
            <td><button class="btn btn-small"><i class="icon-step-forward"></i></button></td>
            </tr>
        </table>
    <form id="history">
        <label class="label">Audit</label>
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Operation</th>
                <th>Table</th>
                <th>Field</th>
                <th>Type</th>
                <th>OldValue</th>
                <th>NewValue</th>
                <th>Changed</th>
            </tr>
            
            @foreach (var rec in Model)
            {
                <tr>
                    <td class="text-info">@rec.Id</td>
                    <td class="text-info">@rec.Type</td>    
                    <td class="text-info">@rec.TableName</td>
                    <td class="text-info">@rec.FieldName</td>
                    <td class="text-info">@rec.FieldType</td>
                    <td class="text-warning">@rec.OldValue</td>
                    <td class="text-success">@rec.NewValue</td>
                    <td class="text-info">@rec.UpdateDate</td>
                </tr>
            }
            
            @*<tr data-ng-repeat ="rec in records">
                <td class="text-info">{{rec.Id}}</td> 
                <td class="text-info">{{rec.Type}}</td> 
                <td class="text-info">{{rec.TableName}}</td> 
                <td class="text-info">{{rec.FieldName}}</td> 
                <td class="text-info">{{rec.FieldType}}</td> 
                <td class="text-warning">{{rec.OldValue}}</td> 
                <td class="text-success">{{rec.NewValue}}</td> 
                <td class="text-info">{{rec.UpdateDate}}</td>
            </tr>*@
        </table>
        @*<button onclick="window.location.href='/audit?pg=7'">Search</button>*@
        <table>
            <tr>
                <td><button class="btn btn-small"><i class="icon-step-backward"></i></button></td>
                <td><button class="btn btn-small"><i class="icon-backward"></i></button></td>
                <td><button class="btn btn-small"><i class="icon-forward"></i></button></td>
                <td><button class="btn btn-small"><i class="icon-step-forward"></i></button></td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        var currentPage;
        function nav(pg) {
            $.get('audit?pg=' + pg,
                function (data) {
                    //Do whatever u waht with response "Data"
                    alert(data);
                    currentPage = pg;
                });
        }
    </script>
    @*<script type="text/javascript">
            function nav(v) {
                $.get('?pg='+ v, function (data) {
                    
                }
                );
            }
 
</script>*@
</div>
